/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Set every element's box-sizing to border-box */
* {
    box-sizing: border-box;
}

html, body {
    height: 100%;
    font-family: 'Titillium Web', sans-serif;
}

h1, h2, h3, h4, h5 {
    font-family: 'Bangers', cursive;
    letter-spacing: 1px;
    margin-bottom: 15px;
}

.container {
    border: 3px solid orange;
    max-width: 900px;
    margin: auto;
}

body {
 display: flex;
}

header {
    border: yellow 2px solid;
    
    display: flex;
    justify-content: flex-start;
    flex-direction: row;
    /* justify-content: space-around; */
}

header nav {
    border: green 5px solid;
    display: flex;
    justify-content: space-between;
    width: 60%; 
    
}
header nav a {
    border: purple 2px solid;
    display: flex;
    align-items: flex-end;
}

header .logo {
    border: 2px red solid;
    justify-content: space-around;
    margin-left: 80px;
}

.cta {
    border: black 5px solid;
    display: flex;
    /* max-width: 80%; */
    /* margin-left: 90px; */
     margin-top: 70px;
    margin-bottom: 30px;
    /* justify-content: space-around; */
    
    

}

.cta-text {
    border: fuchsia 2px solid;
     display: flex;
    flex-direction: column;
     /* align-items: center; */
    text-align: center;
    align-self: center;
     font-size: 80px;
    margin-left: 90px; 
    

}

.cta img {
    border: blue 2px solid;
margin-left: 50px;
/* max-height: 300px; */
/* margin-bottom: 30px; */
/* align-content: flex-end;     */
}

.main-content {
    display: flex;
    border: 5px red solid; 
    flex-flow: row wrap;
    border-top: 1px black solid;
    border-bottom: 1px black solid;
}
.top-content {
    display: flex;
    margin-bottom: 20px;
}
.bottom-content {
    display: flex;
    margin-top: 20px;
    
}
.text-content {
    padding: 20px;
}

.contact {
display: flex;
flex-direction: column;

}
.contact p {
    margin-bottom: 30px;
}
footer {
    display: flex;
    justify-content: center;
}